.contacts {
  .acciones {
    .etiquetas {
      position: relative;
      top: 15px;
    }
  }

  .contact-index {
    border: 1px solid color("grey", "base");
    margin-bottom: 15px;
    position: relative;

    .row {
      margin: 0;
    }

    .campo {
      color: color("grey", "base");
      font-size: 0.85em;
    }

    ul.contacto-info {
      li {
        margin-bottom: 15px;
      }
    }

    .badge {
      position: absolute;
      background-color: color("blue-grey", "base");
      color: white;
      height: 100%;
      width: 60px;
      margin-left: 10px;
      text-align: center;
      font-size: 2em;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .actions {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

  .search-contact {
    border: 1px solid color("grey", "base");
    padding: 10px;
  }
}

.contacts-new {
  .container {
    margin-top: 15px;
  }
}