.sidebar-btn {
  padding: 20px 20px;
  width: 200px;
  background: $sidebar-dark-color;
  transition: 0.3s ease;
  color: white;
  border: none;

  &:hover {
   background-color: color("grey", "darken-2");
   color: $secondary-color-dark;
  }
}

.sidebar {
	position: absolute;
	width: $sidebar-width;
  background-color: $sidebar-background-color;
  height: 100%;

  .logo {
    width: 100%;
    text-align: center;
    padding: 30px;

    p {
      font-size: 18px;
      margin-top: 0;
      color: white;
      background-color: $primary-color-dark;
    }

    .user-email,
    .user-full-name {
      background-color: inherit;
      margin: 0;
    }

    .user-email {
      font-size: 1em;
    }

    img {
      width: 45%;
      padding: 5px;
    }
  }

  ul {
    li {
      display: flex;
      flex-direction: row;
      justify-content: left;
      a {
        @extend .sidebar-btn;

        &:hover {
          padding: 20px 60px;
        }
      }
    }
  }

  .crear-campana {
    display: flex;
    flex-direction: row;
    justify-content: left;
    a {
      @extend .sidebar-btn;

      background-color: $primary-color-dark;

      &:hover {
        background-color: $primary-color-dark;
        padding: 20px 40px;
      }
    }
  }

  .salir {
    position: absolute;
    bottom: 0;
    a {
      @extend .sidebar-btn;
    }
  }
}