@import 'materialize';
@import 'unauthorized';
@import 'sidebar';
@import 'header';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@import 'contactos';
@import 'tags';
@import 'campaigns';

html {
  font-family: 'Fira Sans', sans-serif;
}

body {
  overflow: hidden;
}

.emarketing {
	main {
		position: absolute;
		overflow: auto;
		width: calc(100% - 200px);
		height: 100vh;
		left: $sidebar-width;
	}
}

.bottom-right-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.no-shadow {
  box-shadow: 0;
}