.emarketing {
	@import 'header';
	
	$sidebar-width: 200px;
	.sidebar {
		position: absolute;
		width: $sidebar-width;
		height: 100%;
		background-color: lightgray;
	}
	
	main {
		position: absolute;
		overflow: auto;
		width: calc(100% - 200px); 
		height: 100vh;
		left: $sidebar-width;
		background-color: lightblue;
	}
}